@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../../component/navbar/navbar.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s ease !important;
  user-select: none;
  text-rendering: optimizeLegibility;
}

body {
  background: #000;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: white;
  font-size: 16px;
  padding: 140px 0;
  overflow-x: hidden;
  row-gap: 200px;
}

.wrapper-mains {
  display: grid;
  grid-template-columns: auto 500px;
  grid-template-rows: 700px;
  padding: 0 60px;
  column-gap: 40px;

  .main-carousel {
    background-image: url("../../img/journey.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.8)
      );
      position: absolute;
      top: 0;
      left: 0;
    }

    .info-carousel {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      z-index: 1;

      img {
        width: 50%;
      }

      p {
        width: 30%;
        color: #fff;
        line-height: 25px;
        font-size: 18px;
      }

      a {
        text-decoration: none;
        width: fit-content;
        padding: 18px 30px;
        text-transform: uppercase;
        border-radius: 5px;
        background: #fff;
        color: #000;
        font-weight: 500;
        letter-spacing: 1px;
        border: none;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          background: unset;
          border-color: white;
          color: white;
        }
      }
    }
  }

  .column {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    position: relative;

    .card {
      border: 1px solid transparent;
      overflow: hidden;
      display: flex;
      gap: 25px;
      align-items: center;
      width: 100%;
      background: #121212;
      border-radius: 10px;
      cursor: pointer;

      p {
        font-size: 20px;
      }

      img {
        height: 100%;
      }

      &:hover {
        border-color: white;
        transform: translateX(-15px);
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      pointer-events: none;
      bottom: 0;
      right: 0;
      z-index: 1;
      border-radius: 10px;
      background: linear-gradient(
        135deg,
        rgb(255, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
    }
  }
}

section.grid {
  display: grid;
  width: 100%;
  padding: 0 60px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 540px 340px 570px;
  gap: 20px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(
      rgb(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgb(0, 0, 0, 1) 100%
    );
  }

  .card {
    background: #121212;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;

    .content {
      opacity: 0;
      pointer-events: none;
      height: 100%;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      gap: 10px;

      h4 {
        font-size: 45px;
        letter-spacing: 1px;
      }

      p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    &:hover .content {
      opacity: 1;
      background: rgba(0, 0, 0, 0.8);
      z-index: 12;
    }
  }

  .span-2 {
    grid-column: span 2;
  }

  .col-2 {
    grid-row: span 2;
  }
}

#grid-1 {
  .card {
    &:nth-child(1) {
      background-image: url(../../img/banjo-kazooie.jpg);
    }

    &:nth-child(2) {
      background-image: url(../../img/hollow-knight.jpg);
    }

    &:nth-child(3) {
      background-image: url(../../img/celeste.avif);
    }

    &:nth-child(4) {
      background-image: url(../../img/forager.avif);
    }

    &:nth-child(5) {
      background-image: url(../../img/death-taxes.jpg);
    }

    &:nth-child(6) {
      background-image: url(../../img/soma.jpg);
    }

    &:nth-child(7) {
      background-image: url(../../img/tunic.jpeg);
    }

    &:nth-child(8) {
      background-image: url(../../img/outerwilds.webp);
    }

    &:nth-child(9) {
      background-image: url(../../img/penumbra.jpg);
    }

    &:nth-child(10) {
      background-image: url(../../img/isaac.webp);
    }

    &:nth-child(11) {
      background-image: url(../../img/limbo.avif);
    }
  }
}

#grid-2 {
  .card {
    &:nth-child(1) {
      background-image: url(../../img/castle-crashers.avif);
    }

    &:nth-child(2) {
      background-image: url(../../img/gris.avif);
    }

    &:nth-child(3) {
      background-image: url(../../img/ori.webp);
    }

    &:nth-child(4) {
      background-image: url(../../img/stardew-valley.jpg);
    }

    &:nth-child(5) {
      background-image: url(../../img/stray.webp);
    }

    &:nth-child(6) {
      background-image: url(../../img/undertale.png);
    }

    &:nth-child(7) {
      background-image: url(../../img/goose-game.avif);
    }

    &:nth-child(8) {
      background-image: url(../../img/forza-motorsport.webp);
    }

    &:nth-child(9) {
      background-image: url(../../img/outlast.webp);
    }
  }
}

.destaque {
  margin: 0 200px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 60px;

  h3 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
  }

  p {
    width: 70%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
  }

  img {
    width: 120%;
  }
}

.carousel {
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .carousel-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .slider-points {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      position: absolute;
      bottom: 60px;
      left: 60px;
      z-index: 5;

      .ball {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;

        transition: .3s !important;

        &.active-ball {
          width: 80px;
          height: 15px;
          background: linear-gradient(to right, #ff9d00, #c67e2c);
          border-radius: 20px;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }

    .slides {
      position: relative;

      .slide {
        display: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-end;
        padding: 60px;
        row-gap: 100px;

        opacity: 0; 
        transition: opacity 5s ease !important; 

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.1) 50%,
            rgba(0, 0, 0, 1) 100%
          );
        }

        h3 {
          z-index: 1;
          font-size: 80px;
          position: absolute;
          width: 600px;
          left: 60px;
          bottom: 175px;
        }
      }

      .active-slide {
        opacity: 1;
        display: flex;
      }
    }
  }

  .slide-1{
    background: url("../../img/supermeatboyforever.png");
  }
  .slide-2{
    background: url("../../img/hero.avif");
  }
  .slide-3{
    background: url("../../img/tinykin.avif");
  }
  .slide-4{
    background: url("../../img/hades.jpg");
  }
  .slide-5{
    background: url("../../img/celeste2.avif");
  }
  .slide-6{
    background: url("../../img/fez.avif");
  }
  h2 {
    font-size: 55px;
    font-weight: 700;
  }
}

.newsletter {
  background: linear-gradient(97deg, #338eee 0%, #34b8fb 100%);
  margin-bottom: 230px;
  display: grid;
  grid-template-areas:
    "left right"
    "bottom bottom";
  grid-template-rows: auto 350px;
  padding: 60px 120px;
  column-gap: 160px;
  row-gap: 80px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    grid-area: left;

    h3 {
      font-family: "Inter";
      font-size: 40px;
      line-height: 60px;
      font-weight: 400;
    }

    p {
      font-weight: 200;
      line-height: 35px;
      font-size: 20px;
    }
  }

  .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-area: right;

    .card {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 500px;
      padding: 30px;

      .label {
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
          font-size: 45px;
          letter-spacing: 1.75px;
        }
        p {
          font-weight: 200;
          line-height: 30px;
          font-size: 18px;
        }
      }

      border: 5px solid #fff;
      opacity: 0.8;
      background: linear-gradient(
        325deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );

      &:hover {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;

    h3 {
      position: relative;
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 30px;

      &::before {
        content: "";
        width: 0;
        height: 10px;
        background: linear-gradient(
          90deg,
          #fff 0%,
          rgba(255, 255, 255, 0.25) 100%
        );
        position: absolute;
        left: 0;
        bottom: -15px;
      }

      &:hover::before {
        width: 100%;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 60px;
      position: relative;
      color: #000;
      margin: 0 120px;
      background: #fff;
      min-height: 500px;

      .thanks {
        position: absolute;
        bottom: 20px;
        font-size: 18px;
        font-weight: 500;
      }

      .label {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
      }

      h4 {
        font-size: 45px;
        text-align: center;
        font-weight: 400;
        max-width: 60%;
        line-height: 70px;
      }

      form {
        display: flex;
        justify-content: space-between;
        position: relative;

        .input-group {
          position: relative;
          display: flex;
          align-items: center;
        }

        label {
          position: absolute;
          top: 25%;
          background: white;
          padding: 10px;
          text-align: center;
          margin-left: 10px;
        }

        input {
          all: unset;
          border: 2px solid rgba(0, 0, 0, 0.8);
          font-size: 17px;
          font-family: "Inter";
          outline: none;
          padding: 25px 15px;
          margin-right: 20px;
          width: 300px;

          &:valid ~ label {
            top: -20px;
          }

          &:focus {
            color: black;
            & ~ label {
              color: black;
              top: -20px;
            }
          }
        }

        button {
          all: unset;
          background: linear-gradient(135deg, #338eef 0%, #34b8fb 100%);
          height: 70px;
          width: 150px;
          border: 2px solid transparent;
          color: #fff;
          text-align: center;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: 1px;
          cursor: pointer;
          text-transform: uppercase;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
