@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../../component/navbar/navbar.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.2s ease !important;
  user-select: none;
  text-rendering: optimizeLegibility;
}

body {
  background: black;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: white;
  font-size: 16px;
  row-gap: 160px;
}

.hero {
  background-image: url("../../img/drstone.png");
  background-position: top;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0) 50%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }

  .banner {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 80px auto 80px;
    z-index: 2;

    span#back,
    span#foward {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 60px;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }

    .content {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      row-gap: 20px;
      width: fit-content;

      h1 {
        font-size: 80px;
      }

      .synopsis {
        max-width: 40%;
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-top: 15px;

        span {
          background: #f47521;
          border: 2px solid transparent;
          padding: 10px 20px;
          color: black;
          font-weight: 500;
          border-radius: 3px;

          &:hover {
            border-color: #f47521;
            color: #f47521;
            background: unset;
          }
        }
      }
    }
  }
}

.ca {
  .card:nth-child(1) {
    background-image: url(../../img/spyXfamily.webp);
  }

  .card:nth-child(2) {
    background-image: url(../../img/animes/drstone.jpg);
  }

  .card:nth-child(3) {
    background-image: url(../../img/animes/frieren.jpg);
  }

  .card:nth-child(4) {
    background-image: url(../../img/animes/shield-hero.webp);
  }

  .card:nth-child(5) {
    background-image: url(../../img/animes/goblin-slayer.jpe);
  }

  .card:nth-child(6) {
    background-image: url(../../img/animes/shokugeki.jpe);
  }
}

.cb {
  .card:nth-child(1) {
    background-image: url(../../img/animes/jujutsu.jpg);
  }

  .card:nth-child(2) {
    background-image: url(../../img/animes/chainsaw.jpe);
  }

  .card:nth-child(3) {
    background-image: url(../../img/animes/bungo.jpe);
  }

  .card:nth-child(4) {
    background-image: url(../../img/animes/soul-eater.jpe);
  }

  .card:nth-child(5) {
    background-image: url(../../img/animes/100-girlfriends.webp);
  }

  .card:nth-child(6) {
    background-image: url(../../img/animes/one-piece.jpe);
  }
}

.carrossel {
  z-index: 2;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow: hidden;

  .group {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      min-width: 350px;
      min-height: 560px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

h2 {
  font-size: 40px;
}

.news {
  width: 100%;
  background-image: url(../../img/vinland-saga.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 80px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(135deg, #f47521, rgb(244, 116, 31, 0.5));
  }

  .container {
    background: black;
    display: grid;
    grid-template-columns: 300px repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    column-gap: 60px;
    row-gap: 20px;
    padding: 60px;
    height: 600px;
    overflow: hidden;

    h5 {
      font-size: 30px;
    }

    .span-2 {
      grid-column: span 2;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        width: 100%;
        padding: 15px 15px 30px;
        background: linear-gradient(135deg, #151515, rgb(20, 20, 20, 0.5));
        gap: 20px;

        .content {
          margin-top: 20px;
          overflow-wrap: break-word;

          h6 {
            font-size: 20px;
            line-height: 30px;
          }

          .date-time {
            margin: 15px 0 35px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }

        img {
          width: 100%;
        }
      }
    }

    .middle,
    .right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        height: fit-content;
        background: linear-gradient(135deg, #151515, rgb(20, 20, 20, 0.5));

        display: grid;
        grid-template-columns: 250px auto;

        img {
          width: auto;
        }

        .content {
          padding: 10px 10px 20px 20px;

          h6 {
            line-height: 30px;
            font-size: 16px;
          }

          .date-time {
            margin-top: 15px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#a {
  background-image: url(../../img/vagabond-banner.jpg);
}

#b {
  background-image: url(../../img/made-in-abyss-banner.jpg);
}

.anime-banner {
  position: relative;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(
      rgba(0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0)
    );
  }

  .content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    gap: 15px;

    h2:hover,
    h3:hover,
    h4:hover {
      opacity: 1;
    }

    h2 {
      font-size: 80px;
      opacity: 0.8;
    }

    h3 {
      font-size: 60px;
      opacity: 0.6;
      font-weight: 600;
    }

    h4 {
      font-size: 40px;
      opacity: 0.6;
      font-weight: 500;
    }
  }

  .right {
    text-align: right;
  }

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    );
  }

  img {
    width: 100%;
  }
}

.newsletter {
  background: linear-gradient(
    97deg,
    #f47521 0%,
    rgba(255, 150, 81, 0.8) 99.48%
  );
  margin-bottom: 230px;
  display: grid;
  grid-template-areas:
    "left right"
    "bottom bottom";
  grid-template-rows: auto 350px;
  padding: 60px 120px;
  column-gap: 160px;
  row-gap: 80px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    grid-area: left;

    h3 {
      font-family: "Inter";
      font-size: 40px;
      line-height: 60px;
      font-weight: 400;
    }

    p {
      font-weight: 200;
      line-height: 35px;
      font-size: 20px;
    }
  }

  .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-area: right;

    .card {
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 450px;
      padding: 30px;

      .label {
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
          font-size: 45px;
          letter-spacing: 1.75px;
        }
        p {
          font-weight: 200;
          line-height: 30px;
          font-size: 18px;
        }
      }

      border: 5px solid #fff;
      opacity: 0.8;
      background: linear-gradient(
        325deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );

      &:hover {
        opacity: 1;
        transform: translateY(-10px);
      }
    }
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;

    h3 {
      position: relative;
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 30px;

      &::before {
        content: "";
        width: 0;
        height: 10px;
        background: linear-gradient(
          90deg,
          #fff 0%,
          rgba(255, 255, 255, 0.25) 100%
        );
        position: absolute;
        left: 0;
        bottom: -15px;
      }

      &:hover::before {
        width: 100%;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 60px;
      position: relative;
      color: #000;
      margin: 0 120px;
      background: #fff;
      min-height: 500px;

      .thanks {
        position: absolute;
        bottom: 40px;
      }

      .label {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
      }

      h4 {
        font-size: 45px;
        text-align: center;
        font-weight: 400;
        max-width: 60%;
        line-height: 70px;
      }

      form {
        display: flex;
        justify-content: space-between;
        position: relative;

        .input-group {
          position: relative;
          display: flex;
          align-items: center;
        }

        label {
          position: absolute;
          top: 25%;
          background: white;
          padding: 10px;
          text-align: center;
          margin-left: 10px;
        }

        input {
          all: unset;
          border: 2px solid rgba(0, 0, 0, 0.8);
          font-size: 17px;
          font-family: "Inter";
          outline: none;
          padding: 25px 15px;
          margin-right: 20px;
          width: 300px;

          &:valid ~ label
          ,&.notempty ~ label{
            top: -20px;
          }

          &:focus {
            color: black;
            & ~ label {
              color: black;
              top: -20px;
            }
          }
        }

        button {
          all: unset;
          background: linear-gradient(
            99deg,
            #f47521 0%,
            rgba(255, 150, 81, 0.8) 100%
          );
          height: 70px;
          width: 150px;
          border: 2px solid transparent;
          color: #fff;
          text-align: center;
          font-family: "Inter";
          font-size: 18px;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: 1px;
          cursor: pointer;
          text-transform: uppercase;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .destaque-cover {
    background-size: auto 100%;
  }
}
